$header-background-color: blue;

header {
    height:100px;
    width:100%;
    background-color:$header-background-color;
    display:flex;
    justify-content: space-between;
}

.header-btns {
    display: flex;
}